
      <mat-card class="my-card">
         <mat-card-content>
           {{ user }}
         </mat-card-content>
         <mat-card-actions>
            <button mat-raised-button (click)="logout()" color="primary">Logout</button>
         </mat-card-actions>
      </mat-card>
      
<div class="container">
   <div class="row">
      <div class="col-sm-6 offset-sm-3">
         <ul class="nav nav-tabs">
            <li role="presentation"><a routerLink="/registration">Patient Register</a></li>
         </ul>
      </div>
   </div>
   <div class="row">
         <div class="col-sm-6 offset-sm-3">
            <router-outlet></router-outlet>
         </div>
   </div>
</div>
