table {
  width: 100%;
}

.container{
  display:inline-block

}
.mat-column-select {
  overflow: initial;
  
}

.first {
  background-color: grey;
 
}
.doctors{
  position:  relative ;
  margin-left: 20px;
}




