table {
  width: 100%;
}

.container{
  display:inline-block

}
.mat-column-select {
  overflow: initial;
  
}

.registerIcon{
  height:auto;
  list-style:none;
  margin-right:40px;
  display:inline;
}
.doctors{
  position:  relative ;
  margin-left: 20px;
}




