<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
     <span><a href="/">HOME</a></span>
     <span class="spacer"></span>
     <a mat-button *ngIf="!authService.isUserLoggedIn()" routerLink="/userRegisteration">User Register</a>
     <a mat-button *ngIf="!authService.isUserLoggedIn()" routerLink="/login">Login</a>
     <a mat-button *ngIf="authService.isUserLoggedIn()" (click)="authService.logout()" routerLink="/logout">Log out</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="jumbotron">
  <div class="container">
        <span style="text-align:center;">
          <alert></alert>
        </span>
        <router-outlet></router-outlet>

  </div>
</div>
